.exemple {
  background-image: url(../images/bg.jpg?as=webp);
  background-position: center;
  background-size: cover;
  min-height: 200px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.icon {
  height: 6rem;
  display: inline-block;
  vertical-align: middle;
}

.icon svg {
  fill: white;
  height: inherit;
}
